@model MyPortfolio.Models.TblTeams
@{
    ViewBag.Title = "UpdateTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Ekip Arkadaşları Güncelleme Sayfası</h3>

<form method="post">
    <input type="hidden" name="TeamId" value="@Model.TeamId" />
    <label>Resim</label>
    <input type="text" name="ImageUrl" value="@Model.ImageUrl" class="form-control" />
    <br />
    <label>AdSoyad</label>
    <input type="text" name="NameSurname" value="@Model.NameSurname" class="form-control" />
    <br />
    <label>Başlık</label>
    <input type="text" name="Title" value="@Model.Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" name="Desciription" value="@Model.Description" class="form-control" />
    <br />
    <label>Twitter</label>
    <input type="text" name="TwitterUrl" value="@Model.TwitterUrl" class="form-control" />
    <br />
    <label>Facebook</label>
    <input type="text" name="FacebookUrl" value="@Model.FacebookUrl" class="form-control" />
    <br />
    <label>Linkedin</label>
    <input type="text" name="LinkedinUrl" value="@Model.LinkedinUrl" class="form-control" />
    <br />
    <label>Instagram</label>
    <input type="text" name="InstagramUrl" value="@Model.InstagramUrl" class="form-control" />
    <br />


    <button class="btn btn-outline-primary">Güncelle</button>

</form>

